{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main_content" id="projects">
    <div class="page-header">
        <a href="/projects/" aria-label="Back to projects">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h1 id="project-title" data-project-id="{{ project.id }}">{{ project.title }}</h1>
    </div>
    <div class="lists">
        {% for list in lists %}
            <div class="list" data-id="{{ list.id }}">
                <div class="list_head drag_handle">{{ list.title }}</div>
                <div class="items">

                </div>
                <div class="list_footer">
                    <button class="add_item button" aria-label="Add Item">
                        <i class="fa-solid fa-plus"></i>
                        Add Item
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/board.js' %}" defer></script>
{% endblock %}