{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main_content" id="projects">
    <div class="page-header">
        <h1>Projects</h1>
        <button class="button" id="new_project_btn">
            <i class="fa-solid fa-plus"></i>
            New Project
        </button>
    </div>
    <div class="projects">
        <a href="#" class="project" id="new_project">
            <h2>New Project</h2>
            <p>Create a new project</p>
        </a>
        {% for project in projects %}
            <a class="project" href="{% url 'project' project.slug %}">
                <h2>{{ project.title }}</h2>
                <p>{{ project.short_description }}</p>
                <i class="delete_project fa-solid fa-trash-can" onclick="confirmDelete('{{ project.id }}', '{{ project.title }}', event)"></i>
            </a>
        {% endfor %}
    </div>
    {% if projects %}
    {% else %}
        <p>No projects found, please create a new project.</p>
    {% endif %}
</div>

<!-- New Project Modal -->
<div id="newProjectModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>
            <span class="logo" aria-hidden></span>
            New Project
        </h2>
        <form id="newProjectForm" method="post" action="{% url 'create_project' %}">
            {% csrf_token %}
            <div>
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" id="slug_text" value="/projects/" disabled/>
                    <input type="hidden" id="slug" name="slug" required>
                </div>
            </div>
            <div>
                <div>
                    <label for="short_description">Short Description:</label>
                    <textarea id="short_description" name="short_description"></textarea>
                </div>
            </div>
            <button type="submit" class="button">Create Project</button>
        </form>
        <div id="newProjectModalError" class="error"></div>
    </div>
</div>

<script src="{% static 'js/projects.js' %}" defer></script>
{% endblock %}