{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Planban - Organize your projects as a Kanban board or list.">
        <title>Planban Home</title>
        <script src="{% static 'js/skrollr.min.js' %}" defer></script>
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <meta name="apple-mobile-web-app-title" content="Planban">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="https://kit.fontawesome.com/dca04d2916.js" crossorigin="anonymous" rel="preconnect"></script>
        {% if is_logged_in %}
        <script>
            window.location.href = '/projects';
        </script>
        {% endif %}
    </head>

    <body>
        <section class="intro" id="home">
            <div
                class="logo_outer"
                data-anchor-target=".intro"
                data-900-start="top: 0px;"
                data-2200-start="top: -650px;"
            >
                <div
                    class="logo"
                    data-anchor-target=".intro"
                    data-start="width: 13%;"
                    data-300-start="width: 100%;"
                ></div>
                <h1
                    class="strap"
                    data-anchor-target=".intro"
                    data-start="top: 100vh; opacity: 0;"
                    data-300-start="top: 100vh; opacity: 0;"
                    data-600-start="top: 46vh; opacity: 1;"
                >
                    Organize your projects as a Kanban board or list.
                </h1>
            </div>
            <div
                class="intro_buttons"
                data-anchor-target=".intro"
                data-900-start="top: calc(55vh + 0px);"
                data-2200-start="top: calc(55vh + -650px);"
            >
                <a
                    href="{% url 'account_signup' %}"
                    id="introSignupButton"
                    data-anchor-target=".intro"
                    data-start="left: calc(0% - 80px); opacity: 0;"
                    data-600-start="left: calc(0% - 80px); opacity: 0;"
                    data-900-start="left: calc(50% - 80px); opacity: 1;"
                >
                    Get Started
                </a>
                <a
                    href="#contact"
                    data-anchor-target=".intro"
                    data-start="right: calc(0% - 80px); opacity: 0;"
                    data-600-start="right: calc(0% - 80px); opacity: 0;"
                    data-900-start="right: calc(50% - 80px); opacity: 1;"
                >
                    Contact Us
                </a>
            </div>
            <div
                class="scroll_down"
                data-anchor-target=".intro"
                data-900-start="bottom: 0px;"
                data-2200-start="bottom: 675px;"
            >
                <div class="mouse">
                    <div class="scroll"></div>
                </div>
                <div class="text">SCROLL DOWN</div>
            </div>
        </section>
        <header>
            <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35" width="210">
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="{% url 'account_login' %}" id="loginButton">Login</a>
                    </li>
                    <li>
                        <a href="/accounts/signup/" class="button" id="signupButton">Get Started</a>
                    </li>
                </ul>
            </nav>
            <nav class="mobile">
                <ul>
                    <li>
                        <a href="#" aria-label="Open menu" id="openMenuButton" role="button">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <ul class="mobile-menu">
                    <li>
                        <a href="#" aria-label="Close menu" id="closeMenuButton" role="button">
                            <i class="fa-solid fa-times"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}" id="loginButtonMobile">Login</a>
                    </li>
                    <li>
                        <a href="/accounts/signup/" id="signupButtonMobile">Get Started</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="features_outer" id="features">
                <div class="section_inner features">
                    <div
                        class="feature"
                        data-bottom-top="transform: translate(-50vw); opacity: 0"
                        data-center-top="transform: translate(0vw); opacity: 1"
                        data-anchor-target=".features_outer"
                    >
                        <i class="fa-solid fa-layer-group"></i>
                        <h3>Mulitple Projects</h3>
                        <p>Create multiple projects to track simultaneously.</p>
                    </div>
                    <div
                        class="feature"
                        data-bottom-top="opacity: 0"
                        data-center-top="opacity: 1"
                        data-anchor-target=".features_outer"
                    >
                        <i class="fas fa-tasks"></i>
                        <h3>Kanban Boards</h3>
                        <p>Organise your tasks visually with a flexible drag-and-drop interface.</p>
                    </div>
                    <div
                        class="feature"
                        data-bottom-top="transform: translate(50vw); opacity: 0"
                        data-center-top="transform: translate(0vw); opacity: 1"
                        data-anchor-target=".features_outer"
                    >
                        <i class="fas fa-chart-bar"></i>
                        <h3>Lists</h3>
                        <p>Convert your Kanban boards into a list view.</p>
                    </div>
                </div>
            </section>
            <!-- FAQ Section -->
            <section class="faqs_outer" id="faqs">
                <div class="section_inner faqs">
                    <h2>Frequently Asked Questions</h2>
                    <div
                        class="faq"
                        data-0-bottom="margin-top: 250px; opacity: 0"
                        data--250-bottom="margin-top: 0px; opacity: 1"
                    >
                        <h3 class="faq-question">What is Planban?</h3>
                        <div class="faq-answer">
                            <p>
                                Planban is a project management tool that helps you organize your tasks visually using
                                Kanban boards, Gantt charts, and more.
                            </p>
                        </div>
                    </div>
                    <div
                        class="faq"
                        data-0-bottom="margin-top: 250px; opacity: 0"
                        data--250-bottom="margin-top: 0px; opacity: 1"
                    >
                        <h3 class="faq-question">How do I get started?</h3>
                        <div class="faq-answer">
                            <p>
                                To get started, simply
                                <a href="/accounts/signup/" id="faqSignupButton">sign up for an account</a> and create
                                your first project.
                            </p>
                        </div>
                    </div>
                    <div
                        class="faq"
                        data-0-bottom="margin-top: 250px; opacity: 0"
                        data--250-bottom="margin-top: 0px; opacity: 1"
                    >
                        <h3 class="faq-question">Can I drag and drop lists or items?</h3>
                        <div class="faq-answer">
                            <p>
                                Yes, you can easily drag and drop lists or items within your Kanban boards. This allows
                                you to quickly reorganize your tasks and prioritize them as needed. Simply click and
                                hold on the item or list you want to move, and drag it to the desired position.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Section -->
            <section class="contact_outer" id="contact">
                <div class="section_inner contact">
                    <h2>Contact Us</h2>
                    <p>If you have any questions or need further information, please feel free to contact us.</p>
                    <form class="contact-form">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea>
                        <button class="button" type="submit">Send Message</button>
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_inner">
                <div class="footer_column">
                    <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35" width="210">
                </div>
                <div class="footer_column">&copy; {% now "Y" %} Planban. All rights reserved.</div>
                <div class="footer_column">
                    <div class="social_media">
                        <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" aria-label="X" target="_blank">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Login Modal HTML -->
        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close" tabindex="0">&times;</span>
                <h2>
                    <span class="logo" aria-hidden></span>
                    Login
                </h2>
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div>
                        <div>
                            <label for="id_login">Login:</label>
                            <input
                                type="text"
                                name="login"
                                placeholder="Username or email"
                                autocomplete="email"
                                required=""
                                id="id_login"
                            >
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="id_password">Password:</label>
                            <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                autocomplete="current-password"
                                required
                                id="id_password"
                            >
                        </div>
                    </div>
                    <div>
                        <label for="id_remember">Remember Me:</label>
                        <input type="checkbox" name="remember" id="id_remember">
                    </div>
                    <button class="button" type="submit">Login</button>
                </form>
                <p>Don't have an account? <a id="registerToLogin" href="{% url 'account_signup' %}">Sign up</a></p>
                <p><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
            </div>
        </div>

        <!-- Signup Modal HTML -->
        <div id="signupModal" class="modal">
            <div class="modal-content">
                <span class="close" tabindex="0">&times;</span>
                <h2>
                    <span class="logo" aria-hidden></span>
                    Sign up
                </h2>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div>
                        <div>
                            <label for="id_username">Username:</label>
                            <input
                                type="text"
                                name="username"
                                placeholder="Username"
                                autocomplete="username"
                                minlength="1"
                                maxlength="150"
                                required=""
                                id="id_username"
                            >
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="id_email">Email (optional):</label>
                            <input
                                type="email"
                                name="email"
                                placeholder="Email address"
                                autocomplete="email"
                                maxlength="320"
                                id="id_email"
                            >
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="id_password1">Password:</label>
                            <input
                                type="password"
                                name="password1"
                                placeholder="Password"
                                autocomplete="new-password"
                                required
                                aria-describedby="password_helptext"
                                id="id_password1"
                            >
                            <span class="helptext" id="id_password1_helptext"></span>
                        </div>
                    </div>
                    <div id="password_helptext">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                    <div>
                        <div>
                            <label for="id_password2">Password (again):</label>
                            <input
                                type="password"
                                name="password2"
                                placeholder="Password (again)"
                                autocomplete="new-password"
                                required
                                aria-describedby="password_helptext"
                                id="id_password2"
                            >
                        </div>
                    </div>
                    <button class="button" type="submit">Sign up</button>
                </form>
                <p>Already have an account? <a id="signupToLogin" href="{% url 'account_login' %}">Login</a></p>
            </div>
        </div>
        <script>
            window.onload = function () {
                var s = skrollr.init();
                if (s.isMobile()) {
                    document.body.classList.add('is_mobile');
                    s.destroy();
                }
            };

            document.addEventListener('DOMContentLoaded', function () {
                const openMenuButton = document.getElementById('openMenuButton');
                const closeMenuButton = document.getElementById('closeMenuButton');
                const mobileMenu = document.querySelector('.mobile-menu');

                openMenuButton.addEventListener('click', function (e) {
                    e.preventDefault();
                    mobileMenu.style.display = 'flex';
                    mobileMenu.classList.add('open');
                });

                closeMenuButton.addEventListener('click', function (e) {
                    e.preventDefault();
                    mobileMenu.classList.remove('open');
                    mobileMenu.style.display = 'none';
                });
            });

            document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth',
                    });
                });
            });

            // Modal JavaScript
            function setupModal(modalId, buttonIds) {
                var modal = document.getElementById(modalId);
                var span = modal.getElementsByClassName('close')[0];

                buttonIds.forEach(function (buttonId) {
                    var btn = document.getElementById(buttonId);
                    btn.onclick = function (event) {
                        event.preventDefault(); // Prevent the default action of the link

                        // Close any open modals
                        document.querySelectorAll('.modal.open').forEach(function (openModal) {
                            openModal.classList.remove('open');
                        });

                        // Open the new modal
                        modal.classList.add('open');

                        // Focus on the first input element in the modal
                        setTimeout(function () {
                            var firstInput = modal.querySelector('input:not([type="hidden"])');
                            if (firstInput) {
                                firstInput.focus();
                            }
                        }, 100); // Adjust the delay as needed
                    };
                });

                span.onclick = function () {
                    modal.classList.remove('open');
                };

                span.onkeydown = function (event) {
                    if (event.key === 'Enter') {
                        modal.classList.remove('open');
                    }
                };

                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.classList.remove('open');
                    }
                };
            }

            // Setup modals
            setupModal('loginModal', ['loginButton', 'loginButtonMobile', 'signupToLogin']);
            setupModal('signupModal', ['faqSignupButton', 'introSignupButton', 'signupButton', 'signupButtonMobile', 'registerToLogin']);

            // FAQ Accordion JavaScript
            document.querySelectorAll('.faq-question').forEach((question) => {
                question.addEventListener('click', function () {
                    var answer = this.nextElementSibling;
                    if (answer.style.height) {
                        answer.style.height = null;
                        answer.classList.add('closed');
                    } else {
                        answer.style.height = answer.scrollHeight + 'px';
                        answer.classList.remove('closed');
                    }
                });
            });

            // Hide FAQ answers by default with JavaScript
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.faq-answer').forEach((answer) => {
                    answer.classList.add('closed');
                });
            });
        </script>
    </body>
</html>
