<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Planban Home</title>
        <script type="text/javascript" src="static/js/skrollr.min.js" defer></script>
        <link rel="icon" type="image/png" href="static/images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="static/images/favicon.svg" />
        <link rel="shortcut icon" href="static/images/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Planban" />
        <link rel="manifest" href="static/images/site.webmanifest" />
    </head>
    <body>
        <div style="height: 2000px;"></div>
        <img src="static/images/logo.webp" alt="Planban Logo" />
        <div style="height: 2000px;"></div>
    </body>
    <script>
        window.onload = function () {
            skrollr.init()
        }
    </script>
</html>