@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --color-primary: #091057;
    --color-secondary: #024caa;
    --color-tertiary: #ec8305;
    --color-gray: #d3d3d3;
}

body,
header,
main {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-size: 16px;
}

main {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 181px);
}

header {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo_outer {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    left: 50%;
    max-width: 90%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 600px;
}

.logo {
    background: url(/static/images/logo.webp) no-repeat left center / cover;
    height: 99px;
    max-height: 14.8vw;
    width: 100%;
}

h2 span.logo {
    display: inline-block;
    height: 18px;
    width: 13px;
    margin: 0 -5px 0 0;
}

.button {
    background: #000000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 1em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.03);
}

.button.trans {
    color: #000000;
    background: transparent;
    padding:5px 10px;
}

.button.trans:hover {
    background: #a0a0a0;
    padding:5px 10px;
}

#account-menu-button span {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 200;
    font-size: 0.8em;
    height: 22px;
    padding: 3px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 25px;
}

.drop_down_menu {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #00000055;
    color: #000000;
    display: none;
    position: absolute;
    right: 10px;
    text-align: left;
    top: 40px;
    transform-origin: top;
    transition: transform 0.2s ease;
    z-index: 1;
}

.drop_down_menu.active {
    display: block;
}

.drop_down_menu h6 {
    margin: 0;
    padding: 10px 0 10px 10px;
}

.account_details {
    display: flex;
    gap: 10px;
    padding: 0 10px 10px;
}

.account_icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.3em;
    height: 35px;
    padding: 3px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 38px;
}

.user_email {
    font-size: 0.8em;
}

#account-menu a {
    color: #000000;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

#account-menu a:hover {
    background-color: #dedede;
}

.main_content {
    margin: 0;
    padding: 0;
}

.main_content h1 {
    margin: 0;
    font-weight: 200;
}

.page-header {
    align-items: center;
    background-color: #eeeeee;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.page-header > div:nth-of-type(1) {
    align-items: center;
    display: flex;
    gap: 20px;
}

.page-header > div:nth-of-type(2) {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 148px;
}

.page-header > div:nth-of-type(2) div, .page-header > div:nth-of-type(2) a {
    border-right: 1px solid #eeeeee;
    color: #ffffff;
    flex-grow: 1;
    padding: 10px;
    text-decoration: none;
}

.page-header > div:nth-of-type(2) div {
    background-color: #dddddd;
    color: #000000;
}

/* Modal styles */
.modal {
    backdrop-filter: blur(2px);
    background-color: #00000055;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s ease;
    transform: translateY(-50px);
    position: relative;
}

.modal.open .modal-content {
    transform: translateY(0);
}

.modal-content .close {
    color: #aaaaaa;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 0;
    transition: color 0.3s ease;
}

.modal-content .close:hover {
    color: #000000;
}

.modal-content h2 {
    margin: 0 0 10px 0;
}

#slug_text {
    border: 1px solid #00000044;
    font-size: 0.7em;
    font-style: italic;
    padding: 3px 10px;
}

/* Form styles */
form > div {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
}

form > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input:not([type="checkbox"]), form textarea, form select {
    font-family: "Poppins", serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: calc(100% - 20px);
}

form select {
    width: calc(100% + 2px);
}

form ul {
    font-size: 0.8em;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
}

.error {
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #ff000022;
    margin-top: 10px;
    padding: 10px;
    display: none;
}

/* Projects styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.projects .project {
    background-color: #091057;
    border: 1px solid #091057;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.projects .project:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
}

.projects .project:hover {
    transform: scale(1.03);
}

.projects .project h2 {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}

.projects .project p {
    display: -webkit-box;
    font-size: 0.8em;
    height: 58px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.projects .delete_project {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.projects a#new_project {
    background-color: #dddddd;
    border: 1px solid #999999;
    color: #000000;
}

.projects a#new_project:after {
    content: '\2b';
    font-family: 'Font Awesome 6 Free';
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 10px;
}

#projects .page-header input#title-input {
    background-color: transparent;
    border: 1px solid #00000044;
    font-size: 2em;
    font-weight: 300 !important;
    font-family: "Poppins", serif;
}

.page-header a.back, .page-header a.back:hover {
    color: #091057;
}

/* Kanban list styles */
.lists {
    background-color: #dedede;
    display: flex;
    gap: 20px;
    height: calc(100vh - 309px);
    max-width: 100%;
    overflow: auto;
    padding: 20px;
}

.lists .list {
    background-color: #d0d0d0;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.lists .list .list_head {
    padding: 10px;
}

input.list-title-input {
    background-color: #d0d0d0;
    border: none;
    font-size: 1em;
    font-family: "Poppins", serif;
    margin: 10px;
    position: relative;
    width: calc(100% - 20px);
    z-index: 1;
}

.lists .list .list_control {
    position: absolute;
    right: 5px;
    top: 5px
}

.lists .list .list_control span {
    padding: 3px;
}

.lists .list:first-child .move_left {
    display: none;
}

.lists .list:nth-last-child(2) .move_right {
    display: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin: 0 10px;
}

.item_control {
    display: flex;
    flex-direction: column;
}

.items .item:first-child .move_up {
    display: none;
}

.items .item:last-child .move_down {
    display: none;
}

.list_footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.lists .list.add_list, .items_table .item.add_item {
    border: none;
    background-color: #dadada;
}

.items .item {
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

form#addListForm {
    width: 100%;
}

.drag_handle {
    cursor: grab;
}

.sortable-chosen .drag_handle {
	cursor: grabbing;
}

/* Table view styles */
.items_table {
    background-color: #dedede;
    display: flex;
    gap: 20px;
    height: calc(100vh - 309px);
    max-width: 100%;
    overflow: auto;
    padding: 20px;
    flex-direction: column;
}

.items_table .item {
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.items_table .item span {
    font-size: 0.8em;
    background: #666666;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
}


/* Footer styles */
footer {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 23px 0;
    position: relative;
    z-index: 1;
}

.footer_inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

@media all and (min-width: 730px) {
    .footer_inner {
        flex-direction: row;
    }
}

footer a {
    color: var(--color-tertiary);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social_media {
    margin-top: 10px;
}

footer .social_media a {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .social_media a:hover {
    color: var(--color-tertiary);
    text-decoration: none;
}

.account_manage {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.account_manage table {
    width: 100%;
}