@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --color-primary: #091057;
    --color-secondary: #024caa;
    --color-tertiary: #ec8305;
    --color-gray: #d3d3d3;
}

body,
header,
main {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--color-primary);
}

main {
    min-height: calc(100vh - 208px);
}

section {
    overflow-x: hidden;
}

.section_inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 8rem 2rem;
}

.intro {
    background: var(--color-secondary);
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    color: #ffffff;
    font-weight: 200;
    height: calc(100vh + 900px);
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

body.is_mobile .intro {
    height: 100vh;
}

.logo_outer {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    left: 50%;
    max-width: 90%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 600px;
}

.logo {
    background: url(/static/images/logo.webp) no-repeat left center / cover;
    height: 99px;
    max-height: 14.8vw;
    width: 100%;
}

h2 span.logo {
    display: inline-block;
    height: 18px;
    width: 13px;
    margin: 0 -5px 0 0;
}

.strap {
    font-size: 1.5em;
    left: 50%;
    letter-spacing: 0.2em;
    line-height: 1.3em;
    position: absolute;
    text-align: center;
    top: 46vh;
    transform: translateX(-50%);
    width: 375px;
}

.intro_buttons {
    font-size: 1.2em;
    letter-spacing: 0.01em;
    position: fixed;
    top: 55vh;
    width: 100%;
}

body.is_mobile .intro_buttons {
    top: 58vh;
}

.intro_buttons a,
.button {
    background: #000000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 1em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.intro_buttons a {
    position: absolute;
    width: 110px;
}

.intro_buttons a:nth-of-type(1) {
    left: calc(50% - 80px);
    transform: translateX(-50%);
}

.intro_buttons a:nth-of-type(2) {
    right: calc(50% - 80px);
    transform: translateX(50%);
}

.scroll_down {
    bottom: 25px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
}

.scroll_down .mouse {
    border: 2px solid #ffffff55;
    border-radius: 50px;
    height: 50px;
    position: relative;
    width: 30px;
}

.scroll_down .mouse:after {
    background-color: #ffffff;
    content: '';
    display: block;
    height: 1px;
    opacity: 0.3;
    position: absolute;
    top: 15px;
    width: 100%;
}

.scroll_down .mouse .scroll {
    animation: scrolldown 1s infinite;
    background-color: #ffffff;
    border-radius: 10px;
    height: 13px;
    left: 50%;
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    width: 5px;
}

.scroll_down .text {
    position: absolute;
    width: 110px;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}

@keyframes scrolldown {
    0% {
        height: 6px;
        top: 8px;
    }

    50% {
        height: 12px;
        top: 8px;
    }

    100% {
        height: 12px;
        top: 12px;
    }
}

main {
    background-color: #ffffff;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

header {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000055;
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;
}


/* Nav styles */
nav.desktop {
    display: none;
}

nav.mobile {
    display: block;
}

nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    padding: 5px 10px;
}

nav ul li:not(:has(.button)):before, nav ul li:not(:has(.button)):after {
    background-color: var(--color-tertiary);
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    transition: height 0.5s ease, opacity 1s ease;
    width: 100%;
    z-index: 0;
}

nav ul li:hover:not(:has(.button)):before, nav ul li:hover:not(:has(.button)):after {
    height: 50%;
    opacity: 1;
}

nav ul li:not(:has(.button)):before {
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
}

nav ul li:not(:has(.button)):after {
    bottom: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
}

nav ul li a {
    color: #000000;
    display: inline-block;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

nav.mobile > ul > li > a > i {
    font-size: 1.5em;
    margin: 3px 0 0 0;
}

@media all and (min-width: 825px) {
    nav.desktop {
        display: block;
    }

    nav.mobile {
        display: none;
    }
}


/* Features styles */
.features_outer {
    background-color: #DBD3D3;
    padding: 4rem 0 2rem 0;
}

.features {
    justify-content: space-around;
    text-align: center;
}

.feature {
    flex: 1;
    padding: 1rem;
    width: 100%;
}

.feature i {
    font-size: 5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.feature p {
    color: #555;
}

@media all and (min-width: 730px) {
    .features {
        display: flex;
    }

    .feature {
        max-width: 300px;
    }
}

/* FAQ styles */
.faqs_outer {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.faq-question {
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
    border: 1px solid var(--color-gray);
    margin-bottom: 5px;
}

.faq-answer {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 10px;
    border: 1px solid var(--color-gray);
    border-top: none;
    transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.faq-answer:not(.closed) {
    height: auto;
    opacity: 1;
    padding: 10px;
}

/* Contact styles */
.contact {
    text-align: center;
}

.contact_outer {
    padding: 50px 20px;
    background-color: var(--color-gray);
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #023a8a;
}

/* Modal styles */
.modal {
    backdrop-filter: blur(2px);
    background-color: #00000055;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s ease;
    transform: translateY(-50px);
    position: relative;
}

.modal.open .modal-content {
    transform: translateY(0);
}

.modal-content .close {
    color: #aaaaaa;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 0;
    transition: color 0.3s ease;
}

.modal-content .close:hover {
    color: #000000;
}

.modal-content h2 {
    margin: 0 0 10px 0;
}

/* Form styles */
form > div {
    display: flex;
    width: 100%;
}

form > div > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    width: 100%;
}

form input:not([type="checkbox"]), form textarea {
    font-family: "Poppins", serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: calc(100% - 20px);
}

form ul {
    font-size: 0.8em;
}

/* Footer styles */
footer {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 23px 0;
    position: relative;
    z-index: 1;
}

.footer_inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer a {
    color: var(--color-tertiary);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social_media {
    margin-top: 10px;
}

footer .social_media a {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .social_media a:hover {
    color: var(--color-tertiary);
    text-decoration: none;
}

.login-container {
    max-width: 500px;
    margin: 0 auto 50px;
    padding: 40px;
}