{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Planban{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="{% static 'js/projects.js' %}" defer></script>
    </head>
    <body>
        <header>
            <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35" />
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/#features">Features</a>
                    </li>
                    <li>
                        <a href="/#faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="{% url 'account_login' %}" id="loginButton">Login</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="button" id="signupButton">Get Started</a>
                    </li>
                </ul>
            </nav>
            <nav class="mobile">
                <ul>
                    <li>
                        <a href="javascript:void(0)" aria-label="Open menu">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 Planban. All rights reserved.</p>
        </footer>
    </body>
</html>
