{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Planban Account{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <meta name="apple-mobile-web-app-title" content="Planban">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="https://kit.fontawesome.com/dca04d2916.js" crossorigin="anonymous" rel="preconnect"></script>
    </head>
    <body>
        <header>
            <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35">
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/#features">Features</a>
                    </li>
                    <li>
                        <a href="/#faqs">FAQs</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="{% url 'account_login' %}" id="loginButton" role="button">Login</a>
                    </li>
                    <li>
                        <a href="#" class="button" id="signupButton" role="button">Get Started</a>
                    </li>
                </ul>
            </nav>
            <nav class="mobile">
                <ul>
                    <li>
                        <a href="#" aria-label="Open menu" role="button">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        <footer>
            <div class="footer_inner">
                <div class="footer_column">
                    <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35">
                </div>
                <div class="footer_column">&copy; {% now "Y" %} Planban. All rights reserved.</div>
                <div class="footer_column">
                    <div class="social_media">
                        <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" aria-label="X" target="_blank">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
