{% url 'account_logout' as logout_url %}
{% url 'account_change_password' as account_change_password %}
{% url 'account_email' as account_email %}

{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Planban{% endblock %}</title>
        <script type="text/javascript" src="{% static 'js/skrollr.min.js' %}" defer></script>
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Planban" />
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/boards.css' %}" />
        <script src="https://kit.fontawesome.com/dca04d2916.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}" defer></script>
    </head>
    <body>
        {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
        {% else %}
        <header>
            <a href="{% url 'projects_index' %}" class="logo">
                <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="22" />
            </a>
            <div class="has_dropdown" id="account-menu-button" onclick="toggleDropdown('account-menu', event)" aria-label="Account Menu">
                <span> {{ user|user_initials }} </span>
                <div class="drop_down_menu" id="account-menu">
                    <h6 class="account_title">Account</h6>
                    <div class="account_details">
                        <div class="account_icon">{{ user|user_initials }}</div>
                        <div>
                            <div class="display_name">{{ user|display_name }}</div>
                            <div class="user_email">{{ user.email }}</div>
                        </div>
                    </div>
                    <a href="{{ account_change_password }}">Manage Your Password</a>
                    <a href="{{ account_email }}">Manage Your Email Address</a>
                    <hr />
                    <form id="logout-form" action="{{ logout_url }}" method="post" style="display: none">
                        {% csrf_token %}
                    </form>
                    <a
                        href="JavaScript:void(0)"
                        onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                    >
                        Logout
                    </a>
                </div>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer_inner">
                <div class="footer_column">
                    <img alt="Planban Logo" src="{% static 'images/logo.webp' %}" height="35" />
                </div>
                <div class="footer_column">&copy; {% now "Y" %} Planban. All rights reserved.</div>
                <div class="footer_column">
                    <div class="social_media">
                        <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/" aria-label="X" target="_blank">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        {% endif %}
    </body>
</html>
